* {
  margin: 0;
  padding: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.place {
  margin-left: 280px;
  margin-top: 100px;
  width: 1000px;
  height: 500px;
  background-color: orange;
  box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.282);
  color: white;
}

.place2 {
  margin-left: 350px;
  padding-top: 140px;
  width: 300px;
  height: 200px;
}

h2 {
  font-size: 40px;
}

.option {
  background-color: rgb(54, 69, 81);
  border-radius: 5px;
}

p {
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

i {
  padding: 5px 10px;
  font-size: 20px;
  background-color: rgb(72, 83, 93);
}

ul {
  list-style-type: none;
}

li {
  padding: 5px;
}

.white {
  background-color: rgb(147, 157, 166);
  color: rgb(54, 69, 81);
}
