@font-face {
  font-family: "font";
  src: url(../fonts/PinyonScript-Regular.ttf);
}


h3.first-head {
  margin-top: 100px;
  margin-left: 500px;
  width: 100%;
  color: rgb(78, 78, 202);
}

p.first-prq {
  margin-top: -80px;
  margin-left: 780px;
  font-family: Arial, sans-serif;
  font-weight: 300;
  text-align: justify; /* qazetlerde oldugun kimi tam hisseni tutub teksti yayir polniy */
  width: 300px;
}

p.second-prq {
  margin-top: -100px;
  margin-left: 780px;
  font-family: "font";
  font-weight: 700;
  letter-spacing: 1px;
  text-align: justify; /* qazetlerde oldugun kimi tam hisseni tutub teksti yayir polniy */
  width: 300px;
}

h3.second-head {
  margin-top: 150px;
  margin-left: 500px;
  width: 100%;
  color: rgb(78, 78, 202);
}