* {
  margin: 0;
  padding: 0;
}

p.first {
  margin-top: 60px;
  margin-left: 400px;
  width: 250px;
  border: 10px solid;
  border-image: linear-gradient(
      to right,
      rgb(66, 234, 223),
      rgb(16, 202, 140),
      rgb(50, 233, 172)
    )
    1;
  padding: 40px;
}

p.second {
  margin-top: -130px;
  margin-left: 800px;
  width: 250px;
  border: 10px solid;
  border-left: 0;
  border-right: 0;
  border-image: linear-gradient(
      to right,
      rgb(66, 234, 223),
      rgb(16, 202, 140),
      rgb(50, 233, 172)
    )
    1;
  padding: 40px;
}

p.third {
  margin-top: 100px;
  margin-left: 400px;
  width: 250px;
  border: 10px solid;
  border-top: 0;
  border-bottom: 0;
  border-image: linear-gradient(
      to right,
      rgb(66, 234, 223),
      rgb(16, 202, 140),
      rgb(50, 233, 172)
    )
    1;
  padding: 40px;
}

p.fourth {
  margin-top: -120px;
  margin-left: 800px;
  width: 250px;
  border: 10px solid;
  border-radius: 30px; /* BU NIYE ISLEMIR, BORDER RADIUS VERMISEM */
  border-image: linear-gradient(
      to right,
      rgb(66, 234, 223),
      rgb(16, 202, 140),
      rgb(50, 233, 172)
    )
    1;
  padding: 40px;
}
