p {
    color: rgb(135, 124, 124);
    font-size: 30px;
    width: 700px;
    height: 400px;
    background-image: url("image/cloud.webp");  
    background-repeat: no-repeat;
    background-size: contain; /* menim qeyd elediyim razmerlerin icinde olsun deye */
    text-align: center;  
    justify-content: center;
    margin: auto; /* her sey centerda olsun deye */
}